
<style>


.hidden {
    margin: -1px;
    border: 0;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    clip: recto(0 0 0 0);
    display: none;
}

select {
    height: 41px;
}

select {
    cursor: pointer;
    border-radius: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #efefef url("down-arrow.png") no-repeat 93% 50%;
        background-size: auto auto;
    background-size: 16px auto;
    padding: 10px;
    font-family: "Guardian Sans Headline",Helvetica,Arial,sans-serif;
    cursor: pointer;
    border: none;
    width: 140px;

    
}



</style>














<div class="field field--radial-select">
	<label for="RadialLocation" class="hidden field__label-within">Within</label>
	<select class="field__select-within" id="RadialLocation" name="RadialLocation">
		
		    <option value="5">
          Within 5 miles</option>
		
		    <option value="10">
          Within 10 miles</option>
		
		    <option value="15">
          Within 15 miles</option>
		
		    <option value="20">
          Within 20 miles</option>
		
		    <option value="25">
          Within 25 miles</option>
		
		    <option value="30" selected="selected">
          Within 30 miles</option>
		
		    <option value="35">
          Within 35 miles</option>
		
		    <option value="40">
          Within 40 miles</option>
		
		    <option value="45">
          Within 45 miles</option>
		
		    <option value="50">
          Within 50 miles</option>
		
		    <option value="60">
          Within 60 miles</option>
		
		    <option value="70">
          Within 70 miles</option>
		
		    <option value="80">
          Within 80 miles</option>
		
		    <option value="90">
          Within 90 miles</option>
		
		    <option value="100">
          Within 100 miles</option>
		
	</select>
</div>