// .gv-open-overlay-btn{
//     display: inline-block;
//     width: 30px;
//     height: 30px;
//     background-color: $accent-yellow;
//     border-radius: 50%;
//     margin-right: 6px;
//     background-image: url('<%= path %>/assets/arrow.svg');
//     background-size: 60%;
//     background-repeat: no-repeat;
//     background-position: center;
//     cursor: pointer;
//     @include mq(desktop){
//         display:none;
//     }

// }


// .close-overlay-btn {
//     width: 40px;
//     height: 40px;
//     background-color: $selected-color;;
//     background-image: url('<%= path %>/assets/arrow.svg');
//     border-radius: 9999px;
//     position: fixed;
//     top: calc(100% - 130px);
//     left: 8px;
//     background-size: 60%;
//     background-repeat: no-repeat;
//     background-position: center;

//     cursor: pointer;    
//     transform: rotate(180deg) translateX(100vw);
    
//     z-index: 1001;
//     &.open{
//         transform: rotate(180deg) translateX(0);
//         transition: transform  0.15s linear;
//         transition-delay: 0.15s;
//     }
    
//     &.close{
//         transform: rotate(180deg) translateX(100vw);
//         transition: transform  0.15s linear;
       
//     }
// }

// .close-overlay-btn:hover {
//     background-color: $selected-color-support; 
// }


// .cta-button-holder {
//     position:relative;
//     background-color: $neutral-3;
//     border-radius: 999px;
//     border: 1px solid #FFF;
//     cursor: pointer;
//     margin: 12px 0 $gs-baseline;
//     height:36px;
//     width:180px;

//     @include mq(tablet){
    
//         //margin: $gs-baseline 0 $gs-baseline $gs-gutter;
//     }

//     @include mq(leftCol){
//       // position:absolute;
//       //   bottom:36px;
//       //   left:470px;
//         //margin: 0 0 0 $gs-gutter;
      
//     }
//     .cta-button {
//        display: inline-block;
//         width: auto;
//         height: 36px;
//         padding: 9px 36px 6px 18px;
//         color: $neutral-1;
//         font-family: "Guardian Text Sans Web", Helvetica, Arial, sans-serif;
//         font-weight: 200;
//         font-size: 14px;
//         line-height: -6px;
//         cursor: pointer;
//     }
//     .inline-arrow-white-right {
//         display: block;
//         float: right;
//         height: 6px;
//         padding: 3px 6px 0 0;
//         fill: #FFF;
        
//     }

//     .inline-arrow-white-dark {
//         display: block;
//         float: right;
//         height: 6px;
//         padding: 3px 6px 0 0;
//         fill: #333;
        
//     }
 
// }

// .cta-button-holder:hover{
// 	background-color: $selected-color;
// }


// .gv-section-bullet-wrapper{
//     width: 100vw;
//     margin-top:12px;
//     margin-bottom:6px;
//     @include mq(tablet){
//         margin-top:24px;
//     }

//     @include mq(leftCol){
//         margin-top:36px;
//         width: 50vw;
//     }
// }


// .gv-section-bullet{
//     background-color:$bullet-bg;
//     color:$neutral-1;
//     width:24px;
//     height:21px;
//     padding-top:3px;
//     @include fs-textSans(3);
//     text-align:center;
//     border-radius:999px;

// }


// .gv-section-bullet-wrapper::after { 
//     content: "";
//     display: block;
//     margin-top: -12px;
//     height: 12px;
//     width: calc(100% - 24px);
//     margin-left: 24px;
//     padding-bottom: 12px;
//     border-top: 1px solid $bullet-bg;
// }




.toggle-view-overlay-btn {
    width: 42px;
    height: 42px;
    background: #121212;
    position: absolute;
    z-index: 950;
    // bottom: 10px;
    // left: 50%;
     border: 3px solid #fff;
    top: 0;
    left: 0;
    margin-left: -21px;
    box-sizing: content-box;

    &:before {
        content: "";
        display: block;
    // width: 48px;
    // height: 48px;
    // background: transparent;
    // z-index: 949;
    // position: absolute;
    // border: 1px solid #121212;
    // margin-top: -4px;
    // margin-left: -4px;
    // border-radius: 50%;
    // box-sizing: content-box;
    }


    @include mq(desktop){
        position: absolute;
        bottom: auto;
        top: auto;
        left: auto;
        margin-left: 0;
        background: $accent-blue-dark;
        background: #121212;
        &:before {
            // border: 1px solid $accent-blue-dark;
        }
    }
    
    cursor: pointer;
    border-radius: 50%;

    .gv-toggle-icon {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    #gv-grid-icon-svg {
        display: none;
        //margin: -13px auto 0 -10px;
        margin: -10px auto auto -10px;
        width: 20px;
    }

    #gv-list-icon-svg {
        display: block;
        //margin: -10px 0 0 -10px;
        margin: -8px auto auto -10px;
        width: 20px;
    }

    &.grid-icon-show {
        #gv-grid-icon-svg {
            display: block;
        }
    
        #gv-list-icon-svg {
            display: none;
        }
    }
}


.gv-fixed-btn-container {
    z-index: 950;
    position: fixed;
    bottom: 70px;
    left: 50%;

    @include mq(desktop){
    position: absolute;
    top: 20px;
    left: 27px;
    bottom: auto;
    }
}



.gv-filter-block {
    background: #333;
    height: 55px;

.hidden {
    margin: -1px;
    border: 0;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    clip: recto(0 0 0 0);
    display: none;
}

select {
    height: 37px;
    float: right;
}

select {
    cursor: pointer;
    color: $accent-green;
    border-radius: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #333333 url("<%= path %>/assets/down-arrow.png") no-repeat 93% 50%;
        background-size: auto auto;
    background-size: 16px auto;
    padding: 5px 10px;
    font-family: "Guardian Sans Headline",Helvetica,Arial,sans-serif;
    cursor: pointer;
    border: 1px solid $accent-green;
    width: 250px;
    
}

}